## Collected data in DF

In [10]:
import pandas as pd
import json

In [24]:
file = 'dataset_final.json' # change the file name
with open(file) as f:
    data = json.load(f)
df = pd.DataFrame.from_dict(data,orient="index")

In [25]:
df.reset_index(inplace=True)
df.rename(columns={'index': 'id'}, inplace=True)
df.drop(columns=['id'], inplace=True)

In [26]:
df.head()

,title,total_authors,author_1,authorDetailPageUrl_1,asin,imageUrl,rating,numberOfReviews,reviewsUrl,price,...,author_6,authorDetailPageUrl_6,author_7,authorDetailPageUrl_7,author_8,authorDetailPageUrl_8,author_9,authorDetailPageUrl_9,author_10,authorDetailPageUrl_10
0,Web Scraping with Python: Data Extraction from...,1,Ryan Mitchell,https://www.amazon.com/Ryan-Mitchell/e/B00MQI8TVQ,1098145356,https://m.media-amazon.com/images/I/41m5xLb4nE...,4.3,14,https://www.amazon.com/product-reviews/1098145356,44.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Python for Data Analysis: Data Wrangling with ...,1,Wes McKinney,https://www.amazon.com/Wes-McKinney/e/B00E5SITSI,109810403X,https://m.media-amazon.com/images/I/51J1XFfaD4...,4.6,409,https://www.amazon.com/product-reviews/109810403X,39.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Python Automation Cookbook - Second Edition: 7...,1,Jaime Buelta,https://www.amazon.com/Jaime-Buelta/e/B07GC7F3XB,1800207085,https://m.media-amazon.com/images/I/51074xIZ9k...,4.4,99,https://www.amazon.com/product-reviews/1800207085,29.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Prompt Engineering for Generative AI: Future-P...,2,James Phoenix,https://www.amazon.com/James-Phoenix/e/B0D3CNN7KC,109815343X,https://m.media-amazon.com/images/I/41HJgD3YU2...,4.4,57,https://www.amazon.com/product-reviews/109815343X,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The New and Improved Flask Mega-Tutorial (2024...,1,Miguel Grinberg,https://www.amazon.com/Miguel-Grinberg/e/B00J2...,B0CPCTC64D,https://m.media-amazon.com/images/I/31N0QGEDPL...,4.6,153,https://www.amazon.com/product-reviews/B0CPCTC64D,34.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df["title"].sample(20)

309    Python Machine Learning By Example: Unlock mac...
155       HTML, CSS, & JavaScript All-in-One For Dummies
62     Pandas for Everyone: Python Data Analysis (Add...
396    Automating Excel with Python: Processing Sprea...
416    Building Python Microservices with FastAPI: Bu...
113    Learning LangChain: Building AI and LLM Applic...
418    Building Web Apps with Python and Flask: Learn...
169    Beginner's Step-by-Step Coding Course: Learn C...
380    Before Machine Learning Volume 2 - Calculus fo...
190        C# 12 in a Nutshell: The Definitive Reference
101    Unlocking the Secrets of Prompt Engineering: M...
388    Impractical Python Projects: Playful Programmi...
280        Hacking: The Art of Exploitation, 2nd Edition
286    Cybersecurity for Small Networks: A Guide for ...
84     SQL for Data Analysis: Advanced Techniques for...
237    Command-Line Rust: A Project-Based Primer for ...
93     Data Analytics for Absolute Beginners: A Decon...
189    Full Stack Web Development: A Comprehensive, H...
319    ALGO TRADING CHEAT CODES: Techniques For Trade...
166    Learning Web Design: A Beginner's Guide to HTM...
Name: title, dtype: object

In [28]:
df["price"]

0      44.94
1      39.95
2      29.48
3      50.00
4      34.99
       ...
414    36.69
415    21.00
416    44.85
417    34.99
418    24.95
Name: price, Length: 419, dtype: object

In [29]:
df["price"].describe()

count       419
unique      323
top       39.99
freq          8
Name: price, dtype: object

In [30]:
df["price"] = df["price"].replace('[\$,]', '', regex=True).astype(float).astype(int)

In [31]:
df["price"].describe()

count    419.000000
mean      32.391408
std       14.848341
min        5.000000
25%       22.000000
50%       31.000000
75%       41.000000
max      123.000000
Name: price, dtype: float64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   419 non-null    object
 1   total_authors           419 non-null    int64
 2   author_1                419 non-null    object
 3   authorDetailPageUrl_1   419 non-null    object
 4   asin                    419 non-null    object
 5   imageUrl                419 non-null    object
 6   rating                  419 non-null    float64
 7   numberOfReviews         419 non-null    int64
 8   reviewsUrl              419 non-null    object
 9   price                   419 non-null    int64
 10  author_2                99 non-null     object
 11  authorDetailPageUrl_2   99 non-null     object
 12  author_3                31 non-null     object
 13  authorDetailPageUrl_3   31 non-null     object
 14  author_4                13 non-null     object
 15  authorDetailPageUrl_4   13 non-null     object
 16  author_5                3 non-null      object
 17  authorDetailPageUrl_5   3 non-null      object
 18  author_6                1 non-null      object
 19  authorDetailPageUrl_6   1 non-null      object
 20  author_7                1 non-null      object
 21  authorDetailPageUrl_7   1 non-null      object
 22  author_8                1 non-null      object
 23  authorDetailPageUrl_8   1 non-null      object
 24  author_9                1 non-null      object
 25  authorDetailPageUrl_9   1 non-null      object
 26  author_10               1 non-null      object
 27  authorDetailPageUrl_10  1 non-null      object
dtypes: float64(1), int64(3), object(24)
memory usage: 91.8+ KB